.comment-popup {
	background-color: #FFF;
	border: 1px solid #7C8795;
	display: none;
	padding: 20px 30px;
	position: absolute;
	width: 600px;
}

.comment-popup.comment-popup--visible {
	display: block;
}