.image-feed__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.image-feed__item {
	margin-bottom: 2%;
	width: 48%;
}

.image-feed__item:last-child {
	margin-right: 0;
}

.image-feed__image {
	width: 100%;
}