/* bright-green: #2FF4AF */

.feed-item {
	list-style: none;
	width: 33%;
}

.feed-item__container {
	color: #1A2B50;
	display: flex;
	padding-bottom: 20px;
}

.feed-item__link {
	word-break: break-all;
}

.feed-item__link, .feed-item__metadata, .feed-item__metadata a {
	color: #7C8795;
	font-size: 12px;
}

.feed-item__score {
	color: #1C5EFF;
	font-size: 16px;
	font-weight: 600;
	min-width: 50px;
	margin-right: 20px;
	text-align: right;
}

.feed-item__title {
	color: #1A2B50;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.3;
}

.feed-item__title + .feed-item__link {
	margin-left: 5px;
}

.feed-item__title-link {
	display: block;
	line-height: 1.2;
	margin-bottom: 2px;
}

.feed-item__title-link:hover .feed-item__title {
	background-color: #2FF4AF;
}

.feed-item__title-link:visited .feed-item__title {
	color: #BCC3CC;
}
