.image-feed__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
}

.image-feed__item {
	margin-bottom: 1.5%;
	width: 15%;
}

.image-feed__item:last-child {
	margin-right: 0;
}

.image-feed__image {
	width: 100%;
}

.image-feed__header {
	font-size: 16px;
	margin: 0 0 20px 0;
}
