.feature-story {
	padding: 20px 0 40px 0;
	position: relative;
}

.feature-story__title {
	line-height: 1.2;
	margin: 0;
}

.feature-story__title a {
	color: #1A2B50;
	font-size: 48px;
}

.feature-story__score {
	color: #FF691C;
	font-size: 24px;
	padding-left: 10px;
	vertical-align: top;
}

.feature-story__link,
.feature-story__metadata,
.feature-story__metadata a {
	color: #7C8795;
	font-size: 12px;
	font-weight: normal;
}
